@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  /* background-color: #f0e8ff; */
  background: rgb(213, 166, 144);
  background: -moz-linear-gradient(-20deg, rgba(213, 166, 144, 1) 28%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(-20deg, rgba(213, 166, 144, 1) 28%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(-20deg, rgba(213, 166, 144, 1) 28%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5a690", endColorstr="#ffffff", GradientType=1);

}

.header {
  background: #302F2E;
  margin-bottom: 40px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: tomato;
  text-decoration: none;
}

.nav-list {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0 auto;
  font-size: 16px;
}


.nav-list a:hover {
  color: whitesmoke;
  /* Цвет текста */
  transition: all 0.3s ease-out;
}

.ul-list {
  font-size: larger;
  color: #302F2E;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.ul-list,
a {
  color: #302F2E;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.section p,
ul,
pre {
  padding: 0px 10px 0px 10px;
}

.profile {
  grid-area: 1 / 1 / 2 / 3;
}

.avatar {
  width: auto;
  height: 300px;
  border-radius: 70%;
}

.profile-title {
  font-size: 80px;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  overflow: hidden;
  text-shadow: 0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
  letter-spacing: 10px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  /* Толщина и цвет обводки */
}

h1:hover {
  text-shadow: -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
}

.profile-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.h2-title {
  color: tomato;
  /* Цвет текста */
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  /* Толщина и цвет обводки */
  text-transform: uppercase;
}

.summary {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.contacts {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.skills {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.code {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.courses {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.projects {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.education {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.languages {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 24px
}

.footer {
  background: #302F2E;
}

.contetetetete {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 20px;
}

.copyright>p {
  font-size: 24px;
  color: tomato;
}

.rsschool-logo {
  width: 150px;
}